<div class="footer" id="footer">
    <div class="footer_nav">
        <div class="fnav_copyright">© 2023 FX110 版权所有</div>
    </div>

</div>
<link href="/css/m_login.css" rel="stylesheet">
<div id="login_page" class="login_page"
    style="height:602px;width:100%;background:#ededed;overflow:hidden;display:none;"></div>
<script src="/js/SingleLoginBox.js"></script>
<script>
    var MasterLink = "https://www.fx110.com";
    var loginSiteUrls = "https://awsdl.911009.com";
    var ImgWbp5 = "https://img.dgrhw.net";
    var dataApi = "https://promotionapi.toant.top";
</script>
<script src="/js/topsearch.js"></script>
<script src="/js/layer.js"></script>
<script src="/js/sign.js"></script>
<link rel="prerender"
    href="https://awsdl.911009.com/login/setuserKey?clientId=16896416120540.7674176222436646&amp;flag=1">
<link rel="stylesheet" href="/js/setuserKey.js">

<script>
    var pageIndex = 1;
    var totalPages = 15;
    var queryRegulatory = '0';
    var querySort = 0;
    var webPj = 'https://pj.fx110.com';
    var pollUrlV2 = "https://gaqspread.hsm-mfg.com";
    var customerServicesUrl = "https://stus.wx168e.com";
    //var brand = "";
    var regulatorys = "0";
    var spread = "0";
    var spreadRange = "0";
    var Leverage = "0";
    var minDeposit = "0";
    var symbol = "0";
    var bonus = "0";
    var searchKey = "";
</script>
<script src="/js/jsScroll.min.js"></script>
<script src="/js/kkpager.min.js"></script>
<script src="/js/index.js"></script>
<iframe style="display: none" block="none" height="0" width="0" name="Details" id="Details"
    src="/js/spead.html"></iframe>
<script src="/js/ghz.js"></script>

<script async="" src="/js/js(1).js"></script>
<script>
    //谷歌统计
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-213704062-1');
    //Facebook统计
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '3083155905345192');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=3083155905345192&ev=PageView&noscript=1" />
</noscript>
<!-- Twitter universal website tag code -->
<script>
    !function (e, t, n, s, u, a) {
        e.twq || (s = e.twq = function () {
            s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
        }, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = '/.ads-twitter.com/uwt.js',
            a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
    }(window, document, 'script');
    // Insert Twitter Pixel ID and Standard Event data below
    twq('init', 'o7uvv');
    twq('track', 'PageView');
</script>
<!-- End Twitter universal website tag code -->
;
<script src="/js/web_statistics.js"></script>
<img src="/js/adsct.js" height="1" width="1" style="display: none;"><img src="/js/adsct(1).js" height="1" width="1"
    style="display: none;">